@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}
.wrap{
	width: 100%;
}

.Header, .content, .Footer, .page_content{
	width: 100%;
	float: left;
}

.Header, .Footer{
	height: 8em;
}

.SideBar{
	width: 10%;
	height: 600px;
	background-color: #FFBB00;
	float: left;
}

.page_content{
	/* width: 90%; */
	width: 100%;
	height: 600px;
	/* background-color: #EAEAEA; */
	float: left;
}

.Header{
	background-color: #EAEAEA;
}

.Footer{
	background-color: #EAEAEA;
}